**/node_modules
**/.next
**/.git
**/.github
**/.vscode
**/.idea
**/.turbo
**/.DS_Store
**/*.log
.env
.env.*
!.env.example
coverage
.nyc_output
.turbo
*.tsbuildinfo
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.uv_cache
